.box-design {
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  font-weight: 700;
  cursor: pointer;
  width: 250px;
  text-align: center;
}

.bg-color-1 {
  background-color: darkkhaki;
  color: black;
}
.bg-color-2 {
  background-color: coral;
}

.bg-color-3 {
  background-color: teal;
  color: white;
}

.bg-color-4 {
  background-color: rgb(116, 50, 192);
  color: rgb(235, 229, 225);
}

.bg-color-5 {
  background-color: rgb(189, 18, 84);
  color: rgb(235, 229, 225);
}

.pt-4px{
  padding-top: 4px;
}