.production-container {
  border: 1px solid black;
  padding: 1rem;
  margin: 8px;
  max-width: 750px;
}
.customer-copy-container {
  /* border: 1px solid black; */
  padding: 4px;
  margin: 4px;
  max-width: 500px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}
.bg-paid-img {
  background-image: url("../../assets//images/paid.png");
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.MuiInput-root {
  padding: 3px;
}

.MuiInput-root .MuiSvgIcon-root {
  color: rgb(198, 71, 209);
}

.MuiInput-root .MuiInputBase-input {
  color: rgb(12, 109, 219);
}
